{% extends 'base/frame.html' %}

{% block content1 %}

<section class="content">
  <div class="container-fluid">

    <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Profile Details</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">


              <div class="form-group">
                <label>Profile Photo</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile" name="photo">
                    <label class="custom-file-label" for="exampleInputFile"></label>
                  </div>
                </div>
              </div>
              <!-- /.photo-->

              <div class="form-group">
                <label>FirstName</label>
                <input type="text" class="form-control" placeholder="Enter ..." name="firstname">
              </div>
              <!-- /.firstname -->
              <div class="form-group">
                <label>LastName</label>
                <input type="text" class="form-control" placeholder="Enter ..." name="lastname">
              </div>
              <!-- /.lastname -->

              <div class="form-group clearfix">
                <label>Gender</label>
                <div class="icheck-primary d-inline">
                  <input type="radio" name="gender" value="MALE" checked id="radioSuccess1">
                  <label for="radioSuccess1">
                    Male
                  </label>
                </div>
                <div class="icheck-primary d-inline">
                  <input type="radio" name="gender" value="FEMALE" id="radioSuccess2">
                  <label for="radioSuccess2">
                    Female
                  </label>
                </div>
                <div class="icheck-primary d-inline">
                  <input type="radio" name="gender" value="OTHERS" id="radioSuccess3">
                  <label for="radioSuccess3">
                    Others
                  </label>
                </div>
              </div>
              <!-- /.radio -->

              <div class="form-group">
                <label>Marital Status</label>
                <select class="form-control select2bs4" style="width: 100%;" name="marital_status">
                  <option selected="selected">Select</option>
                  <option value="SINGLE">Single</option>
                  <option value="MARRIED">Married</option>
                  <option value="DIVORCED">Divorced</option>
                  <option value="WIDOWED">Widowed</option>
                </select>
              </div>
              <!-- /.dropdown -->


              <div class="form-group">
                <label>Date of Birth</label>
              <input type="date" name="dob" required>` 
              </div>

              <!-- <div class="form-group">
                <label>Date Of Birth</label>
                  <div class="input-group date" id="reservationdate" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="dob"/>
                      <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
              </div> -->
              <!-- /.date -->


              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..." name="address"></textarea>
              </div>
              <!-- /.Textarea -->

            </div>
            <div class="col-md-6">


              <div class="form-group">
                <label>Resume</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInput" name="resume">
                    <label class="custom-file-label" for="exampleInput"></label>
                  </div>
                </div>
              </div>
              <!-- /.resume-->

              <div class="form-group">
                <label>Career Objective</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..." name="career_obj"></textarea>
              </div>
              <!-- /.Textarea -->

              <div class="form-group">
                <label>Work Status</label>
                <select class="form-control select2bs4" style="width: 100%;" name="workstatus">
                  <option selected="selected">Select</option>
                  <option value="Experienced">I have work experience</option>
                  <option value="Fresher">I am a fresher</option>
                </select>
              </div>
              <!-- /.dropdown -->

              <div class="form-group">
                <label>Job Role</label>
                <input type="text" class="form-control" placeholder="Enter ..." name="jobrole">
              </div>
              <!-- /.firstname -->

              <div class="form-group">
                <label>PhoneNumber</label>
                <div class="input-group">
                  <input type="text" name="phone" class="form-control" data-inputmask='"mask": "(+99) 99999-99999"'
                    data-mask>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                </div>
              </div>
              <!-- /.phonenumber -->
            </div>
            <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </div>
        </form>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock %}